body {
	font-family: "Trebuchet MS", "Arial";
}

.info {
	width: 90%;
	left: 5%;
	position: absolute;
	padding: 3%;
	text-align: center;
	z-index: 1;
}
.marked {
	color: white;
	background-color: black;
}

#lu-panel {
	width: 100%;
	opacity: 0.3;
	z-index: -1;
	position: fixed;
}