body {
	font-family: "Georgia", "Garamond", "Trebuchet MS", "Arial";
}

.info {
	width: 90%;
	left: 5%;
	position: absolute;
	padding: 2%;
	text-align: center;
}
.wide {
	width: 70%;
}
.narrow {
	width: 30%;
}

div {
	border-style: solid;
}